.field{
    width: 60%;
    margin-left: 1%;
    padding: 2%;
    outline:none;
    border: none;
    background-color: #cccccc;
    margin: 5%;
}

.button-login{

    border-radius: 10px;
    padding: 3%;
    border-style: none;
    width: 40%;
    background-color: rgb(140, 27, 192);
    display: block;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
  }