form{
    height: 60vh;
    width: 30%;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #3d3c3c;
  }
  
  
  .tittle{
      margin-top: 5%;
      margin-bottom: 2%;
      font-size: 3em;
  }

  .loginTittle{
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: 3em;
}
.password-container{
  margin-bottom:10px;
}